*{
    padding: 0%;
    margin: 0%;
}
.two{

    position: fixed;
    display: inline;
    width: auto;
}
nav{
    
    width: 200%;
    background-color: black;
    color:white;
    padding:15px;

}
ul,li,h1{
    
    display:inline;
    
     
}
ul{
    margin-left:50%; 
}
li{
    padding: 5px;
}
li:hover{
    color:blue;
    cursor: pointer;
    
}
h1:hover{
    color: rgb(64, 226, 43);
    cursor: pointer;
}
.three{
padding:2%;
margin-left: 10%;
margin-top: 10%;
position:absolute;

    
}
.two1{
    color:red;
    
}
.two1:hover{
    color:rgb(8, 215, 247);
}
.image{
    display: flex;
    border:2px solid none;
    height: 400px;
    width:300px;
    position: absolute;
    margin-top: 70px;
    margin-left: 650px;
    
}

.about{
    border: 2px solid none;
    height: 400px;
    width: 100%;
    margin-top: 550px;
    
}
.personal{
border: 2px solid none;
height:400px;
width: 800px;
margin-left: 30%;
margin-top: -403px;
}
.project{
    border: 2px solid none;
    height: 400px;
    width: 100%;
   
}
.skills{
    border: 2px solid none;
    height: 200px;
    width: 100%;
   
}
.education{
    border: 2px solid none;
    height: 650px;
    width: 100%;
   
   
}
.contact{
    border: 2px solid none;
    height: 400px;
    width: 70%;
    
display: grid;
    justify-items:normal;
    align-items:normal;
    justify-content: normal;
   margin-left: 15%;
   margin-right: 15%;
}
.message{
    border: 2px solid none;
    width:100%;
    height: 130px;
    background-color: gray;

   
}
@media screen and (max-width:600px){
.navbar-menu-toggle{
    display: block;
}
}
@media screen and (min-width:600px){
    .navbar-menu-toggle{
        display: block;
    }
    }
    button{
        border-radius: 20px;
        color: blueviolet;
        width:90px;
        height: 35px;
    }
    button:hover{
        background-color: aqua;
    }